.btn{
  padding: 10px;
  width: 100%;
  /* border: 5px; */
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.primary{
  background-color: red;
}
.secondary{
  background-color: grey;
}
.warning{
  background-color: yellow;
}